* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100vh;
}

body {
  color: #fff;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 380px;
  overflow: auto;

}

.container_image {
  max-width: 100%;
  border-radius: 2% 2% 0 0;
  display: block;
}

.container_main {
  background-color: #283e50;
  text-align: center;
  color: white;
  margin: 0;


}

.container_title {
  font-family: Lobster;
  margin: 18px;
  font-size: 30px;
}

p {
  line-height: 1.5;
  margin: 16px;
}

.container_buttons {
  background-color: #283e50;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.rules,
.play {
  height: 52px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules {
  background-color: #1fcca4;
}

.play {
  background-color: #0197f6;
}

.rules:hover {
  background-color: #1cbb96;
}

.play:hover {
  background-color: #0090e9;
}
