* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100vh;
}

body {
  color: #fff;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 380px;
  overflow: auto;

}

.container_image {
  max-width: 100%;
  border-radius: 2% 2% 0 0;
  display: block;
}

.container_main {
  background-color: #283e50;
  text-align: center;
  color: white;
  margin: 0;


}

.container_title,
.game__container--title {
  font-family: Lobster;
  margin: 18px;
  font-size: 40px;
  text-align: center;
}

p {
  line-height: 1.5;
  margin: 16px;
}

.container_buttons {
  background-color: #283e50;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.container__buttons--rules,
.container__buttons--play {
  height: 52px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__buttons--rules,
.game__link--home {
  background-color: #1fcca4;
}

.container__buttons--play,
.restart__symbol {
  background-color: #0197f6;
}

.container__buttons--rules:hover,
.container__buttons--rules:focus,
.game__link--home:hover,
.game__link--home:focus {
  background-color: #1cbb96;
}

.container__buttons--play:hover,
.container__buttons--play:focus,
.restart__symbol:hover,
.restart__symbol:focus {
  background-color: #0090e9;
}

.hra_container {
  max-width: 80vmin;
}

/*Stylování hra.html */

.game__container {
  width: 100%;
  max-width: 80vmin;
  margin: 16px auto 32px auto;
}


.game__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.game__nav--left,
.game__nav--right {
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 8px;
}

.game__link {
  display: block;
  padding: 5px 8px;
  border-radius: 7px;
  cursor: pointer;
}


.game__symbol--ring {
  margin-right: 45px;
}


.game__board {
  display: flex;
  flex-wrap: wrap;
  border: 1.7px solid #283e50;

}

.game__square {
  flex: 0 0 10%;
  width: 10%;
  aspect-ratio: 1 / 1;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1.7px solid black;
}

.game__square:disabled {
  background-color: #720e9e;
}

.game__square:hover,
.game__square:focus {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.board__field--circle {
  background-image: url("Images/circle2.svg");
}

.board__field--cross {
  background-image: url("Images/cross2.svg");
}

.board__field--circle,
.board__field--cross {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
  animation: rotate 0.8s;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
    background-position: -100px, -100px;
  }

  25% {
    background-position: -100px, -100px;
  }

  50% {
    background-position: center;
  }

  100% {
    transform: rotateY(180deg);
  }
}
